@font-face 
{
  font-family: UNCTitle;
  src: url('fonts/Aleo.ttf');
}
@font-face 
{
  font-family: UNCText;
  src: url('fonts/OpenSans.ttf');
}
:root
{
  --UNC-Blue:#013c65;
  --UNC-Gold: #f6b000;
  --UNC-Gray: #60697a;
}
*
{
    font-family: UNCText;
    color: var(--UNC-Gray);
}
h1, h2, h3, h4, h5, h6
{
    font-family: UNCTitle;
    color: var(--UNC-Blue);
}

table 
{
border: ridge #013c65 3px;
background-color: #60697a;
padding: 3px;
}
th
{
  font-size: 24px;
  font-family: Monospace;
}
a:hover
{
  background: #f6b000;
}


h1:hover, h2:hover, h3:hover
{
  color: blue;
}


